﻿@model ViewModel.TestViewModel

<tr>
        <td>
            <b>Username:</b>
        </td>
        <td>
            @Html.DisplayFor(model => model.abuid) <b> - Tidak Aktif</b>
        </td>
    </tr>
    <tr>
        <td>
            <b>Password:</b>
        </td>
        <td>
            @Html.DisplayFor(model => model.abpwd)
        </td>
    </tr>