﻿@model ViewModel.TestDetailViewModel

@using (Html.BeginForm("CreateType", "OnlineTest", FormMethod.Post, new { id = "form-create", name = "form-create" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <div class="col-md-10" style="margin-left:5%;">
                <label>Jenis Tes</label>
                @Html.DropDownListFor(model => model.test_type_id,
  (IEnumerable<SelectListItem>)ViewBag.TypeList, "-pilih-", new
  { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.test_type_id, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="button" class="btn btn-warning btn-batal" title="Batal">
                    Batal
                </button>
                <button type="submit" class="btn btn-success btn-select" value="" title="Select">
                    Tambah
                </button>
            </div>
        </div>
    </div>
}

<script type="text/javascript">
    $("#form-create").submit(function () {
        $.ajax({
            url: this.action,
            type: this.method,
            data: $(this).serialize(),
            success: function (result) {
                if (result.success) {
                    $("#exampleTambah").modal("hide");
                } else {
                    alert("error! " + result.message);
                }
            }
        });
        return false;
    });

    $(".btn-select").click(function () {
        $.ajax({
            url: '@Url.Action("SelectTest","OnlineTest")',
            type: 'get',
            data: { id: $(this).attr("value") },
            success: function (result) {
                $("#test-table tbody").append(result);
                $("#exampleTambah").modal("hide");
                //GetList();
            }
        });
    });

    $("#test_type_id").change(function () {
        var test = $("#test_type_id").val();
        $(".btn-select").attr("value", test);
    })

     $(".btn-batal").on("click", function () {
        $("#exampleTambah").modal("hide");
    });
</script>


