﻿@model ViewModel.TestViewModel

@Html.AntiForgeryToken()
<div class="form-group">
    <div class="row">
        <div class="col-sm-4">
            <label>Tgl. Tes*</label>
            <input type="date" class="form-control test_date" id="test_date" name="test_date" value="">
            <span class="text-danger" id="test_error"></span>
        </div>
        <div class="col-sm-4">
            <label>Tgl. Berakhir Tes*</label>
            <input type="date" class="form-control expired_test" id="expired_test" name="expired_test">
            <span class="text-danger" id="ex_error"></span>
            <small class="form-text text-muted Validation" id="Validation" style="display:none; color:red;">Tanggal berakhir tes tidak boleh kurang dari tanggal tes mulai</small>
        </div>
        <div class="col-sm-4">
            <label>Akses User*</label>
            <select class="form-control" id="user_access" name="user_access">
                <option value="INSIDE">INSIDE</option>
                <option value="OUTSIDE">OUTSIDE</option>
            </select>
            <span class="text-danger" id="user_error"></span>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-10">
        <div class="col-md-offset-11 col-md-7" style="margin-right:3px;">
            <button id="btn-tambah" class="btn btn-primary">Tambah Test</button>
        </div>
    </div>
</div>
<div>
    <div class="panel-body">
        <table class="table table-bordered table-striped" id="test-table">
            <thead>
                <tr>
                    <th style="width: 40%">Jenis Tes</th>
                    <th style="width: 20%">#</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>

    <div class="row">
        <div class="col-lg-10">
            <div class="col-md-offset-9 col-md-7">
                <button class="btn btn-warning" id="batal">Batal</button>
                <button value="Simpan" id="btn-save" class="btn btn-primary">Simpan & kirim</button>
                </div>
            </div>
            </div>

            <div class="modal fade" id="exampleTambah" tabindex="-1" role="dialog">
                <div class="modal-dialog modal-sm" role="document">
                    <div class="modal-content">
                        <div class="modal-header bg-primary header-modal-sm">
                            <h4 class="modal-title modal-title-tambah">Modal title</h4>
                        </div>
                        <div class="modal-body modal-tambah">
                            <p>One fine body&hellip;</p>
                        </div>
                    </div>
                </div>
            </div>



            <script type="text/javascript">
        //$(document).ready(function () {
        //    GetList();
        //});

        $("#expired_test").change(function () {
            var exdate = $("#expired_test").val();
            var strdate = $("#test_date").val();
            if (exdate < strdate) {
                $("#Validation").show();
            }
            else {
                $("#Validation").hide();
            }
        });

        $("#test_date").change(function () {
            var exdate = $("#expired_test").val();
            var strdate = $("#test_date").val();
            if (exdate < strdate && exdate != "") {
                $("#Validation").show();
            }
            else {
                $("#Validation").hide();
            }
        });

    $("#btn-tambah").click(function () {
            $.ajax({
                url: '@Url.Action("CreateType", "OnlineTest")',
                type: 'get',
                success: function (result) {
                    $(".modal-title-tambah").html("Tambah Tes");
                    $(".modal-tambah").html(result);
                    $("#exampleTambah").modal("show");
                }
            });
    });

        $("#batal").on("click", function () {
            $("#modalExam").modal("hide");
        });

                function Remove(obj) {
            var tr = $(obj).closest('tr');
                tr.remove();
        }

        var data = {};
            $("#btn-save").click(function () {
            var test = $("#test_date").val();
            var ex = $("#expired_test").val();
            var user = $("#user_access").val();
            var details = [];
            $("#test-table tbody").find("tr").each(function () {
                var Id = $(this).find("input[name=id]").val();
                detail = {
                    test_type_id: Id,
                };
                details.push(detail);
            });

            data = {
                test_date: $("#test_date").val(),
                expired_test: $("#expired_test").val(),
                user_access: $("#user_access").val(),
                detail: details
            }
        $.ajax({
            url: '@Url.Action("Simpan", "OnlineTest")',
            type: 'post',
            data: { model: data },
            success: function (result) {
                $("#test_error").html("");
                $("#ex_error").html("");
                $("#user_error").html("");
                if (result.success) {
                    $("#modalExam").modal("hide");
                    GetList();
                }
               else if (test == "" && ex == "" && user == "") {
                    $("#test_error").html("tanggal test tidak boleh kosong!");
                    $("#ex_error").html("tanggal berakhir test tidak boleh kosong");
                    $("#user_error").html("user access tidak boleh kosong");
                }
                else {
                    alert("Error:\n" + result.message);
                }
            }
        });
    });

            </script>
