﻿@model ViewModel.TestDetailViewModel

    <div class="panel-heading">
        <div class="col-md-3" style="color:red; margin-left:20%; margin-top:2%; font-size: 80px;">
            <span class="glyphicon glyphicon-trash"></span>
        </div>
        <br/>
        <div class="col-md-12" style="color:red; margin-top:2%; margin-left:10%;">
            <span>Apakah anda yakin ingin menghapus Tipe Tes?</span>
            <br/>
        </div>
    </div>
<div>
    @using (Html.BeginForm("DeleteTes", "OnlineTest", FormMethod.Post,
            new { id = "form-delete", name = "form-delete" }))
    {
        <div class="form-horizontal">
            @Html.HiddenFor(model => model.id)

            <div class="form-group">
                <div class="col-md-offset-3 col-md-10" style="margin-top:5%;">
                    <input type="button" value="batal" class="btn btn-warning btn-batal" />
                    <input type="submit" value="Ya" class="btn btn-danger btn-ya" />
                </div>
            </div>
        </div>
    }

</div>

<script type="text/javascript">
    $("#form-delete").submit(function () {
                $.ajax({
                    url: this.action,
                    type: this.method,
                    data: $(this).serialize(),
                    success: function (result) {
                        if (result.success) {
                            $("#exampleTambahBaru").modal("hide");
                            GetList();
                            GetTest();
                        } else {
                            alert("error! " + result.message);
                        }
                    }
                });
                return false;
            });
            $(".btn-batal").on("click",function () {
            $("#exampleTambahBaru").modal("hide");
    });
</script>
