﻿@model IEnumerable<ViewModel.TestViewModel>

<style>
    .row-garis {
        border-bottom: 3px solid #337ab7;
    }
</style>

<div class="panel-heading">
    <div class="row row-garis">
        <div class="col-md-6">
            <b>Aktivasi Akun Tes Online</b>
        </div>
        <div class="col-md-offset-10" style="margin-bottom:2%;">
            <button id="btn-create-new" class="btn btn-primary" aria-hidden="true">Aktifkan</button>
        </div>
    </div>
</div>

<div id="data-addrbook">
</div>
<br />

<table class="table table-striped">
    <tr>
        <th>
            Kode Periode
        </th>
        <th>
            Periode
        </th>
        <th>
            Tgl Tes
        </th>
        <th>
            Tgl Berakhir Tes
        </th>
        <th>
            Akses
        </th>
        <th>
            Status
        </th>
        <th>
            #
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.period_code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.period)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.test_date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.expired_test)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.user_access)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.status)
            </td>
            <td>

                <div class="dropdown">
                    <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu1"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        More
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        <li><a class="btn-tampilkan" data-id="@item.id">Tampilkan Pilihan Test</a></li>
                        <li><a class="btn-delete" data-id="@item.id">Hapus</a></li>
                    </ul>
                </div>
            </td>

        </tr>
    }

</table>

<div class="modal fade" id="modalExam" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header header-modal-sm"> <h4 class="modal-title modal-title-exam" style="color:white;">Modal title</h4>
            </div>
            <div class="modal-body modal-create">
                <p>One fine body&hellip;</p>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    

        $("#btn-create-new").click(function () {
            $.ajax({
                url: '@Url.Action("Create", "OnlineTest")',
                type: 'get',
                data: { id: $(this).attr("data-id")},
                success: function (result) {
                    $(".header-modal-sm").css("background-color", "#337ab7");
                    $(".modal-title-exam").html("Aktivasi Akun Tes");
                    $(".modal-create").html(result);
                    $("#modalExam").modal("show");
                }
            });
        });
    var idTipe;
    $(".btn-tampilkan").click(function () {
        idTipe = $(this).attr("data-id");
        $.ajax({
            url: '@Url.Action("TestType", "OnlineTest")',
            type: 'get',
            data: { id: idTipe},
            success: function (result) {
                $(".header-modal-sm").css("background-color", "#337ab7");
                $(".modal-title-exam").html("Pilihan Tes");
                $(".modal-create").html(result);
                $("#modalExam").modal("show");
            }
        });
    });

    function GetTest() {
                $.ajax({
            url: '@Url.Action("TestType", "OnlineTest")',
            type: 'get',
            data: { id: idTipe},
            success: function (result) {
                $(".header-modal-sm").css("background-color", "#337ab7");
                $(".modal-title-exam").html("Pilihan Tes");
                $(".modal-create").html(result);
                $("#modalExam").modal("show");
                }
         });
        }

     $(".btn-delete").click(function () {
        $.ajax({
            url: '@Url.Action("Delete", "OnlineTest")',
            type: 'get',
            data: { id: $(this).attr("data-id")},
            success: function (result) {
                $(".header-modal-sm").css("background-color", "red");
                $(".modal-title-exam").html("Hapus Tes?");
                $(".modal-create").html(result);
                $("#modalExam").modal("show");
            }
        });
    });
</script>