﻿@model ViewModel.TestDetailViewModel
@*<tr>
        <td>
            @Html.HiddenFor(model => model.id)
            @Html.EditorFor(model => model.online_test_id, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
        </td>
        <td>
            @Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
        </td>
        <td>
            <button type="button" class="btn btn-danger btn-remove" onclick="Remove(this)" title="Remove">
                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
            </button>
        </td>
    </tr>*@

<tr>
    <td>
        @Html.HiddenFor(model => model.id)
        @Html.DisplayFor(model => model.name)
        @*@Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })*@
    </td>
    <td>
            <span class="glyphicon glyphicon-trash btn-remove" onclick="Remove(this)" aria-hidden="true"></span>
    </td>
</tr>
