﻿@model ViewModel.TestDetailViewModel

@using (Html.BeginForm("TambahTipe", "OnlineTest", FormMethod.Post, new { id = "form-create", name = "form-create" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <div class="col-md-10" style="margin-left:5%;">
                <label>Jenis Tes</label>
                @Html.DropDownListFor(model => model.test_type_id,
  (IEnumerable<SelectListItem>)ViewBag.TypeList, "-pilih-", new
  { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.test_type_id, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="button" class="btn btn-warning btn-batal" title="Batal">
                    Batal
                </button>
                <button type="submit" class="btn btn-success btn-select" value="" title="Select">
                    Tambah
                </button>
            </div>
        </div>
    </div>
}

    <script type="text/javascript">

        $(".btn-select").click(function () {
            //alert($("#test_type_id").val());
            $.ajax({
                url: '@Url.Action("TambahTipe","OnlineTest")',
                type: 'post',
                data: {test_type_id:$("#test_type_id").val()},
            success: function (result) {
                if (result.success) {
                    $("#exampleTambahBaru").modal("hide");
                    GetList();
                    GetTest();
                } else {
                    alert("error! " + result.message);
                }
            }     
        });
        return false;
        });

         $(".btn-batal").on("click", function () {
        $("#exampleTambahBaru").modal("hide");
    });

    </script>


