﻿@model IEnumerable<ViewModel.TestDetailViewModel>


<div class="row">
    <div class="col-lg-10">
        <div class="col-md-offset-11 col-md-7">
            <button id="btn-tambah-new" class="btn btn-primary">Tambah Test</button>
        </div>
    </div>
</div>
<br/>

<table class="table table-striped">
    <tr>
        <th style="width:40%;">
            Jenis Tes
        </th>
        <th style="width:20%;">
            #
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                    <span class="glyphicon glyphicon-trash btn-delete" data-id="@item.id" aria-hidden="true"></span>
            </td>
        </tr>
    }

</table>

<div class="row">
    <div class="col-lg-10">
        <div class="col-md-offset-11 col-md-7">
            <button id="btn-kembali" class="btn btn-warning">Kembali</button>
        </div>
    </div>
</div>

<div class="modal fade" id="exampleTambahBaru" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header bg-primary header-modal-tambah">
                <h4 class="modal-title modal-title-tambah">Modal title</h4>
            </div>
            <div class="modal-body modal-baru">
                <p>One fine body&hellip;</p>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
$("#btn-tambah-new").click(function () {
            $.ajax({
                url: '@Url.Action("TambahTipe", "OnlineTest")',
                type: 'get',
                data: { id: $(this).attr("data-id")},
                success: function (result) {
                $(".header-modal-tambah").css("background-color", "#337ab7");
                $(".modal-title-tambah").html("Tambah Tes");
                $(".modal-baru").html(result);
                $("#exampleTambahBaru").modal("show");
                }
            });
});

    $("#btn-kembali").on("click", function () {
        $("#modalExam").modal("hide");
    }); 

    $(".btn-delete").click(function () {
        $.ajax({
            url: '@Url.Action("DeleteTes", "OnlineTest")',
            type: 'get',
            data: { id: $(this).attr("data-id")},
            success: function (result) {
                $(".header-modal-tambah").css("background-color", "red");
                $(".modal-title-tambah").html("Hapus Tes?");
                $(".modal-baru").html(result);
                $("#exampleTambahBaru").modal("show");
            }
        });
    });
</script>