﻿@model ViewModel.KeahlianViewModel


@using (Html.BeginForm("Edit", "Keahlian", FormMethod.Post,
    new { id = "form-edit", name = "form-edit" }))
{
    @Html.AntiForgeryToken()
    <style>
        #responsibility, #notes {
            max-width: 1000px;
        }
    </style>

    <div class="form-group">
        <div class="row">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.Id)
            <div class="col-sm-5" style="margin-left:5%;">
                <label>Nama Keahlian</label>
                @Html.EditorFor(model => model.skill_name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.skill_name, "", new { @class = "text-danger" })
            </div>
            <div class="col-sm-5" style="margin-left:5%;">
                <label>Level Keahlian*</label>
                @Html.DropDownListFor(model => model.skill_level_id,
                    (IEnumerable<SelectListItem>)ViewBag.SkillLevelList, "-Pilih-", new
                    { @class = "form-control", Required = "true", @oninvalid = "setCustomValidity('Level keahlian Harus Diisi')", @oninput = "setCustomValidity('')" })
                @Html.ValidationMessageFor(model => model.skill_level_id, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="row">
            <div class="col-md-12" style="margin-left:5%;">
                <label>Catatan</label><br />
                @Html.TextAreaFor(model => model.notes, 5, 68, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.notes, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="row">
            <div class="col-lg-11">
                <div class="form-group col-lg-10">
                    <div class="col-md-offset-8 col-md-9">
                        <input type="button" value="batal" class="btn btn-danger btn-batal" />
                        <input type="submit" value="Simpan" class="btn btn-primary" />
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<script type="text/javascript">
    $("#form-edit").submit(function () {
        $.ajax({
            url: this.action,
            type: this.method,
            data: $(this).serialize(),
            success: function (result) {
                if (result.success) {
                    $("#exampleCreate").modal("hide");
                    GetList();
                } else {
                    alert("error! " + result.message);
                }
            }
        });
        return false;
    });
    $(".btn-batal").on("click", function () {
        $("#exampleCreate").modal("hide");
    });

</script>
