﻿@model IEnumerable<ViewModel.BiodataViewModel>

@{
    ViewBag.Title = "Index";
}
<style>
    .nav-item {
        border: 2px solid #337ab7;
        border-bottom: none;
    }

    .nav-item-end {
        border: 2px solid #337ab7;
        border-bottom: 2px solid #337ab7;
    }

    .modal {
        overflow-y: auto;
    }
</style>

<table class="table">
    <tr>
        <th>
            Nama
        </th>
        <th>
            #
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.fullname)
            </td>
            <td>
                <button type="button" class="btn btn-success btn-select" data-id="@item.id" data-dismiss="modal" title="Select">Detil Pelamar</button>
            </td>

        </tr>

    }

</table>

<div class="modal fade" id="exampleList" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title modal-title-list" id="titleIndex">Detil Pelamar</h4>
            </div>
            <div class="modal-body modal-body-list" id="bodyIndex">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-4">
                            <ul class="nav flex-column">
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Profil</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Biodata</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Pengalaman Kerja</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#" tabindex="-1" aria-disabled="true">Pendidikan</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Pelatihan</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Sertifikasi</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Sumber Lowongan Kerja</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Organisasi</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Keluarga</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link active" href="#" id="select-keahlian">Keahlian</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Lain-Lain</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Dokumen</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Catatan</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Aktivasi Akun</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Lihat Tes</a>
                                </li>
                                <li class="nav-item-end">
                                    <a class="nav-link" href="#">Hasil Tes</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-8" id="list-keahlian">

                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts{
    <script type="text/javascript">

            var kl;
            $(".btn-select").click(function () {
                kl = $(this).attr("data-id");
            $.ajax({
                type: 'get',
                success: function (result) {
                    $("#exampleList").modal("show");
                }
            });
        });

            $("#select-keahlian").click(function () {
            $.ajax({
                url: '@Url.Action("List","Keahlian")',
                type: 'get',
                data: { id: kl },
                success: function (result) {

                    $("#list-keahlian").html(result);
                }
            });
            });

        function GetList() {
                $.ajax({
                url: '@Url.Action("List","Keahlian")',
                type: 'get',
                data: { id: kl },
                success: function (result) {
                $("#list-keahlian").html(result);
                }
         });
        }

        $(".close").on("click", function () {
            window.location.reload();
    }); 
    </script>
}
