﻿@model ViewModel.KeluargaViewModel

@using (Html.BeginForm("Create", "Keluarga", FormMethod.Post, new { id = "form-create", name = "form-create" }))
{
    @Html.AntiForgeryToken()

    <style>
        #responsibility, #notes {
            max-width: 1000px;
        }
        #responsibility, #family_tree_type_id {
            max-width: 1000px;
        }
        #responsibility, #family_relation_id {
            max-width: 1000px;
        }
        #responsibility, #name {
            max-width: 1000px;
        }
        #responsibility, #education_level_id {
            max-width: 1000px;
        }
        #responsibility, #job {
            max-width: 1000px;
        }
    </style>

    <div class="form-group">
        <div class="row">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.id)
            <div class="col-md-5" style="margin-left:3%;">
                <label>Jenis Susunan Keluarga*</label>
                @Html.DropDownListFor(model => model.family_tree_type_id,
                     (IEnumerable<SelectListItem>)ViewBag.FamilyTypeList, "-Pilih-", new
                     { @class = "form-control" })
                <span class="text-danger" id="type_error"></span>
                @Html.ValidationMessageFor(model => model.family_tree_type_id, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-6">
                <label>Hubungan Keluarga*</label>
                @Html.DropDownListFor(model => model.family_relation_id,
                    (IEnumerable<SelectListItem>)ViewBag.FamilyRelationList, "-Pilih-", new
                    { @class = "form-control" })
                <span class="text-danger" id="relation_error"></span>
                @Html.ValidationMessageFor(model => model.family_relation_id, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="row">
            <div class=" col-md-5" style="margin-left:3%;">
                <label>Nama*</label>
                @Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "form-control" } })
                <span class="text-danger" id="name_error"></span>
                @Html.ValidationMessageFor(model => model.name, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-3">
                <label>Jenis Kelamin</label>
                <select class="form-control" id="gender" name="gender">
                    <option value="" disabled selected>-pilih-</option>
                    <option value="false">Wanita</option>
                    <option value="true">Pria</option>
                </select>
            </div>
            <div class="col-md-3">
                <label>Tgl. Lahir (yyyy-mm-dd)</label>
                @Html.EditorFor(model => model.dob, new { htmlAttributes = new { @class = "form-control", @Type = "Date" } })
                @Html.ValidationMessageFor(model => model.dob, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="row">
            <div class="col-md-5" style="margin-left:3%;">
                <label>Pendidikan</label>
                @Html.DropDownListFor(model => model.education_level_id,
                    (IEnumerable<SelectListItem>)ViewBag.EducationLevelList, "-Pilih-", new
                    { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.education_level_id, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-6">
                <label>Pekerjaan</label>
                @Html.EditorFor(model => model.job, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.job, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="row col-lg">
            <div class="col-md-12" style="margin-left:3%;">
                <label>Catatan</label><br />
                @Html.TextAreaFor(model => model.notes, 3, 110, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.notes, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="row">
            <div class="col-lg-10">
                <div class="col-md-offset-8 col-md-10">
                    <input type="button" value="batal" class="btn btn-warning btn-batal" />
                    <input type="submit" value="Simpan" class="btn btn-primary" />
                </div>
            </div>
        </div>

    </div>
}

<script type="text/javascript">
    $("#form-create").submit(function () {
        
        var gen = $("#gender :selected").val();
        var name = $("#name").val();
        var type = $("#family_tree_type_id").val();
        var relation = $("#family_relation_id").val();
        var data = {
            gender: $("#gender :selected").val(),
            family_tree_type_id: $("#family_tree_type_id").val(),
            family_relation_id: $("#family_relation_id").val(),
            name: $("#name").val(),
            dob: $("#dob").val(),
            education_level_id: $("#education_level_id").val(),
            job: $("#job").val(),
            notes: $("#notes").val(),
        };
        $.ajax({
            url: '@Url.Action("Create", "Keluarga")',
            type: 'post',
            data: {model: data},
            success: function (result) {
                $("#name_error").html("");
                $("#type_error").html("");
                $("#relation_error").html("");

                if (result.success) {
                    $("#exampleCreate").modal("hide");
                    GetList();
                }
                else if (name == "" && type == "" && relation == "") {
                    $("#name_error").html("Nama tidak boleh kosong!");
                    $("#type_error").html("Jenis susunan keluarga belum dipilih");
                    $("#relation_error").html("Hubungan keluarga belum dipilih");
                }
                else if (name == "" && type == "") {
                    $("#name_error").html("Nama tidak boleh kosong!");
                    $("#type_error").html("Jenis susunan keluarga belum dipilih");
                }
                else if (name == "" && relation == "") {
                    $("#name_error").html("Nama tidak boleh kosong!");
                    $("#relation_error").html("Hubungan keluarga belum dipilih");
                }
                else if (type == "" && relation == "") {
                    $("#type_error").html("Jenis susunan keluarga belum dipilih");
                    $("#relation_error").html("Hubungan keluarga belum dipilih");
                }
                else if (name == "") {
                    $("#name_error").html("Nama tidak boleh kosong!");
                }
                else if (type == "") {
                    $("#type_error").html("Jenis susunan keluarga belum dipilih");
                }
                else if (relation == "") {
                    $("#relation_error").html("Hubungan keluarga belum dipilih");
                }
                else {
                    alert("error! " + result.message);
                }
            }
        });
        return false;
    });
     $(".btn-batal").on("click",function () {
        $("#exampleCreate").modal("hide");
    });

</script>
