﻿@model IEnumerable<ViewModel.KeluargaViewModel>

<style>
    .garis {
        border-bottom: 3px solid black;
        border-top: 2px solid black;
    }
</style>

<!-- Default panel contents -->
<div class="panel-heading">
    <b>Keluarga   </b> <span id="btn-create-new" class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
</div>

<table class="table table-striped">
    <tr class="garis">
        <th>
            HUBUNGAN
        </th>
        <th>
            NAMA
        </th>
        <th>
            JK
        </th>
        <th>
            TGL.LAHIR
        </th>
        <th>
            PENDIDIKAN
        </th>
        <th>
            PEKERJAAN
        </th>
        <th>
            #
        </th>
    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.namaType)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.name)
    </td>
    <td>
        @if (item.gender == true)
        {
            <span>L</span>
        }
        else
        {
            <span>P</span>
        }
    </td>
    <td>
        @item.dob.Value.ToString("yyyy/MM/dd")
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.namaPend)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.job)
    </td>
    <td>
        <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu1"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                More
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <li><a class="btn-edit" data-id="@item.id">Ubah</a></li>
                <li><a class="btn-delete" data-id="@item.id">Hapus</a></li>
            </ul>
        </div>
    </td>
</tr>
    }

</table>

<div class="modal fade" id="exampleCreate" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header bg-primary header-modal-sm">
                <h4 class="modal-title modal-title-create">Modal title</h4>
            </div>
            <div class="modal-body modal-create">
                <p>One fine body&hellip;</p>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(".btn-edit").click(function () {
        $.ajax({
            url: '@Url.Action("Edit", "Keluarga")',
            type: 'get',
            data: { id: $(this).attr("data-id")},
            success: function (result) {
                $(".header-modal-sm").css("background-color", "#337ab7");
                $(".modal-title-create").html("Ubah Keluarga");
                $(".modal-create").html(result);
                $("#exampleCreate").modal("show");
            }
        });
    });
     $(".btn-delete").click(function () {
        $.ajax({
            url: '@Url.Action("Delete", "Keluarga")',
            type: 'get',
            data: { id: $(this).attr("data-id")},
            success: function (result) {
                $(".header-modal-sm").css("background-color", "red");
                $(".modal-title-create").html("Hapus Keluarga?");
                $(".modal-create").html(result);
                $("#exampleCreate").modal("show");
            }
        });
     });

    $("#btn-create-new").click(function () {
            $.ajax({
                url: '@Url.Action("Create", "Keluarga")',
                type: 'get',
                success: function (result) {
                    $(".header-modal-sm").css("background-color", "#337ab7");
                    $(".modal-title-create").html("Tambah Keluarga");
                    $(".modal-create").html(result);
                    $("#exampleCreate").modal("show");
                }
            });
        });
</script>
