﻿
@model ViewModel.PendidikanViewModel

@using (Html.BeginForm("Create", "Pendidikan", FormMethod.Post, new { id = "form-create", name = "form-create" }))
{
    @Html.AntiForgeryToken()

    <style>
        #responsibility, #notes {
            max-width: 1000px;
        }
    </style>

    <div class="form-group">
        <div class="row">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.id)
            <div class="col-md-5" style="margin-left:5%;">
                <label>Nama Sekolah/Instansi*</label>
                @Html.EditorFor(model => model.school_name, new { htmlAttributes = new { @class = "form-control" } })
                <span class="text-danger" id="name_error"></span>
                @Html.ValidationMessageFor(model => model.school_name, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-3">
                <label>Kota</label>
                @Html.EditorFor(model => model.city, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.city, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-3">
                <label>Negara</label>
                @Html.EditorFor(model => model.country, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.country, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="row">
            <div class=" col-md-5" style="margin-left:5%;">
                <label>Jenjang Pendidikan*</label>
                @Html.DropDownListFor(model => model.education_level_id,
                    (IEnumerable<SelectListItem>)ViewBag.EducationLevelList, "-Pilih-", new
                    { @class = "form-control" })
                <span class="text-danger" id="jenjang_error"></span>
                @Html.ValidationMessageFor(model => model.education_level_id, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-3">
                <label>Tahun Masuk</label>
                @Html.DropDownListFor(model => model.entry_year, Enumerable.Range(1975, DateTime.Now.Year - 1975 + 1)
               .Select(i => new SelectListItem { Value = i.ToString(), Text = i.ToString() }), "-Pilih-",
               new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.entry_year, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-3">
                <label>Tahun Lulus</label>
                @Html.DropDownListFor(model => model.graduation_year, Enumerable.Range(1975, DateTime.Now.Year - 1975 + 1)
               .Select(i => new SelectListItem { Value = i.ToString(), Text = i.ToString() }), "-Pilih-",
               new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.graduation_year, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="row">
            <div class="col-md-5" style="margin-left:5%;">
                <label>Jurusan</label>
                @Html.EditorFor(model => model.major, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.major, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-6">
                <label>IPK</label>
                @Html.EditorFor(model => model.gpa, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.gpa, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="row col-lg">
            <div class="col-md-12" style="margin-left:5%;">
                <label>Catatan</label><br />
                @Html.TextAreaFor(model => model.notes,3,70, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.notes, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="row">
            <div class="col-lg-10">
                <div class="col-md-offset-8 col-md-10">
                    <input type="button" value="batal" class="btn btn-warning btn-batal" />
                    <input type="submit" value="Simpan" class="btn btn-primary" />
                </div>
            </div>
        </div>

    </div>
}

<script type="text/javascript">
    $("#form-create").submit(function () {
        var name = $("#school_name").val();
        var jenjang = $("#education_level_id").val();
        $.ajax({
            url: this.action,
            type: this.method,
            data: $(this).serialize(),
            success: function (result) {
                $("#name_error").html("");
                $("#jenjang_error").html("");

                if (result.success) {
                    $("#exampleCreate").modal("hide");
                    GetList();
                }
                else if (name == "" && jenjang == "") {
                    $("#name_error").html("Nama sekolah tidak boleh kosong!");
                    $("#jenjang_error").html("Jenjang pendidikan belum dipilih");
                }
                else if (name == "") {
                    $("#name_error").html("Nama sekolah tidak boleh kosong!");
                }
                else if (jenjang == "") {
                    $("#jenjang_error").html("Jenjang pendidikan belum dipilih");
                }
                else {
                    alert("error! " + result.message);
                }
            }
        });
        return false;
    });
     $(".btn-batal").on("click",function () {
        $("#exampleCreate").modal("hide");
    }); 

</script>
