﻿@model ViewModel.PendidikanViewModel

<style>
    .glyphicon-trash {
        font-size: 80px;
    }
</style>
<div class="row">
    <div class="panel-heading">
        <div class="col-md-3" style="margin-left:8%; margin-top:2%;">
            <span class="glyphicon glyphicon-trash"></span>
        </div>
        <div class="col-md-8" style="color:red">
            <span>Apakah anda yakin ingin menghapus pendidikan</span>
            <br />
            @Html.DisplayFor(Model => Model.school_name)<a style="color:red"> ?</a>
        </div>
    </div>
</div>
<div>
    <hr />
    @using (Html.BeginForm("Delete", "Pendidikan", FormMethod.Post,
            new { id = "form-delete", name = "form-delete" }))
    {
        @Html.AntiForgeryToken()
        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.id)

            <div class="form-group">
                <div class="col-md-offset-8 col-md-10">
                    <input type="button" value="batal" class="btn btn-warning btn-batal" />
                    <input type="submit" value="Ya" class="btn btn-danger" />
                </div>
            </div>
        </div>
    }

</div>

<script type="text/javascript">
    $("#form-delete").submit(function () {
        $.ajax({
            url: this.action,
            type: this.method,
            data: $(this).serialize(),
            success: function (result) {
                if (result.success) {
                    $("#exampleCreate").modal("hide");
                    GetList();
                } else {
                    alert("error! " + result.message);
                }
            }
        });
        return false;
    });
    $(".btn-batal").on("click",function () {
            $("#exampleCreate").modal("hide");
    }); 
</script>
