﻿@using (Html.BeginForm("Send", "TimesheetSubmission", FormMethod.Post, new { id = "form-create", name = "form-create" }))
{

    <div class="row">
        <div class="col-md-8" style="margin-left:5%;">
            <label>Gunakan Sebagai divider</label><br />
            @Html.Editor("Email", new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-lg-10">
            <div class="col-md-offset-8 col-md-10">
                <input type="submit" value="lewati" name="lewati" class="btn btn-primary" id="btn-lewati" />
                <input type="submit" value="kirim" name="kirim" class="btn btn-warning" id="btn-kirim"/>
            </div>        </div>
    </div>

}