﻿@model IEnumerable<ViewModel.TimesheetViewModal>

<style>
    #responsibility, .form-control {
        max-width: 1000px;
    }
</style>


<div class="panel-group">
    <div class="tab-content">
        <div class="row" style="background-color:#337ab7">
            <h4 style="color: white; margin-left: 20px">Timesheet Submission</h4>
        </div>
        <br />

        <div class="form-group" style="max-width:1000px;">
            <div class="row">
                <div class="col-sm-6">
                    <label>Tahun*</label>
                    @Html.DropDownList("tsaYear", new SelectList(ViewBag.getYear, "value", "text"), "Pilih Tahun", new { @class = "form-control", @thisMonth = ViewBag.thisMonth })
                </div>
                <div class="col-sm-6">
                    <label>Bulan*</label>
                    @Html.DropDownList("tsaMonth", new SelectList(ViewBag.getMonth, "value", "text"), "Pilih Bulan", new { @class = "form-control", @thisYear = ViewBag.thisYear, @savedMonth = ViewBag.savedMonth })
                </div>
            </div>
        </div>

        <div class="row" style="margin-top:8px; margin-bottom:8px; margin-right:5px;" id="id-hide-me">
            <div class="col-3"></div>
            <div class="col-md-offset-8 col-3">
                <div class="btn-group">
                    <button type="button" class="btn" style="background-color:darkgray; width:140px" data-dismiss="modal" disabled><a style="color:white; font-weight:bold">Reset</a></button>
                    <button type="submit" class="btn" style="background-color:darkgray; width:140px" disabled><a style="color:white; font-weight:bold">Submit</a></button>
                </div>
            </div>
        </div>

        <div class="col-md-12" style="margin-top:8px; display:none;" id="id-show-me">

        </div>
    </div>
</div>

<script>

    $("#tsaMonth").bind('change', function (event) {

        var i = $('#tsaMonth').val();
        var tahun = $('#tsaYear').val();
        var monthVal = $("#tsaMonth option:selected").val();
        var monthText = $("#tsaMonth option:selected").text();

        if (tahun == "" || tahun == null) {
            alert("Isi Tahun");
            $('option:selected', this).removeAttr('selected');
        } else if (monthVal == "" || monthVal == null) {
            alert("Bulan tidak boleh kosong");
        } else {
            if (i != null) {
                $.ajax({
                    url: '/TimesheetSubmission/listTimesheetView',
                    method: 'get',
                    data: { year: tahun, month: i },
                    success: function (response) {
                        $("#id-show-me").html(response);
                        $("#id-hide-me").hide();
                        $("#id-show-me").show();
                    }
                })
            }
            else if (i == null) {
                $("#id-show-me").hide();
            }
        }
    })

    $("#tsaYear").bind('change', function (event) {
        var yearVal = $("#tsaYear option:selected").val();
        var yearText = $("#tsaYear option:selected").text();
        var monthVal = $("#tsaMonth option:selected").val();
        var monthText = $("#tsaMonth option:selected").text();

        if (monthText == "Pilih Bulan" || yearVal == null || yearVal == "" || monthVal == null) {
        } else {
            $.ajax({
                url: '/TimesheetSubmission/listTimesheetView',
                method: 'get',
                data: { year: yearVal, month: monthVal },
                success: function (response) {
                    $("#id-show-me").html(response);
                    $("#id-hide-me").hide();
                    $("#id-show-me").show();
                }
            })
        }
    })

</script>
