﻿@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <style>
        .holder {
            border: 1px #337ab7 solid;
            margin-top: 0;
            border-radius: 0;
            background-color: white
        }

        .navbarlist {
            background-color: white;
            color: white
        }

        ul a:hover:not(.dropdown-toggle) {
            background-color: #337ab7;
        }

        li a:hover:not(.dropdown) {
            background-color: #337ab7;
            color: white;
        }
    </style>
</head>
<body style="background-color:lightgray">
    <div class="navbar navbar-fixed-top" style="background-color: #337ab7">
        <div class="container">
            <div class="navbar-collapse collapse">
                <div class="headerrole">
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#" style="color:white">
                                Menu 1
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a>Menu 1.1</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" style="color: white">
                                Menu 2
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a>Menu 2.1</a></li>
                                <li><a>Menu 2.2</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" style="color: white">
                                Menu 3
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a tabindex="-1">Menu 2.1</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="user-name">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="/Home/Login" style="color:white">
                                <span class="glyphicon glyphicon-log-out"></span>
                                Login
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    @*<br>
        <nav>
            <div class="nav navbar">
                <ul class="nav navbar-nav navbar-right col-sm-2">
                    <li class="navbarlist"><a href="/Home/Login"><span class="user-name"><span class="glyphicon glyphicon-log-in"> Login</span></span></a></li>
                </ul>
            </div>
        </nav>*@
    <div class="navbar" style="background-color:white">
        <div class="container">
            <div class="navbar">
                <div class="navbar-header text-center">
                    <h1>
                        <b>
                            <font color="#337ab7">
                                XSIS 2.0
                            </font>
                        </b>
                    </h1>
                </div>
            </div>
        </div>
    </div>
    <div class="body center-block">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-2 col-sm-offset-1">
                    <div class="navbarmenu">
                        <div class="panel-group" id="accordion">
                            <div class="holder">
                                <div class="panel-heading" style="color:#337ab7;">
                                    <h4 class="panel-title">
                                        <a href="/Home">
                                            🔵 <b style="font-size:14px">Beranda</b>
                                        </a>
                                    </h4>
                                </div>
                            </div>
                            <div class="holder">
                                <div class="panel-heading" style="color:#337ab7;">
                                    <h4 class="panel-title">
                                        <a href="/Home">
                                            🔵 <b style="font-size:14px">Cari Pelamar</b>
                                        </a>
                                    </h4>
                                </div>
                            </div>
                            <div class="holder">
                                <div class="panel-heading" style="color:#337ab7;">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#1">
                                            🔵 <b style="font-size:14px">Data Pelamar</b>
                                        </a>
                                    </h4>
                                </div>
                                <div id="1" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <h4 class="panel-title text-center" style="color:#337ab7">
                                            <a href="/#">
                                                Daftar Pelamar
                                            </a>
                                        </h4>
                                    </div>
                                </div>
                            </div>
                            <div class="holder">
                                <div class="panel-heading" style="color:#337ab7">
                                    <h4 class="panel-title">
                                        <a href="/Home">
                                            🔵 <b style="font-size:14px">Proses Pelamar</b>
                                        </a>
                                    </h4>
                                </div>
                            </div>
                            <div class="holder">
                                <div class="panel-heading" style="color:#337ab7">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#2">
                                            🔵 <b style="font-size:14px">Penjadwalan</b>
                                            <span class="navbar-right glyphicon glyphicon-chevron-down" style="padding-right:4px"></span>
                                        </a>
                                    </h4>
                                </div>
                                <div id="2" class="panel-collapse collapse">
                                    <div class="panel-body" style="border:none">
                                        <h4 class="panel-title text-center" style="color:#337ab7;margin-top:0">
                                            <a href="/#">
                                                Rencana
                                            </a>
                                        </h4>
                                    </div>
                                    <div class="panel-body">
                                        <h4 class="panel-title text-center" style="color:#337ab7;margin-top:0">
                                            <a href="/Penjadwalan/Index" id="btn-undangan">
                                                Undangan
                                            </a>
                                        </h4>
                                    </div>
                                </div>
                            </div>
                            <div class="holder">
                                <div class="panel-heading" style="color:#337ab7;">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#3">
                                            🔵 <b style="font-size:14px">Tes</b>
                                            <span class="navbar-right glyphicon glyphicon-chevron-down" style="padding-right:4px"></span>
                                        </a>
                                    </h4>
                                </div>
                                <div id="3" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <h4 class="panel-title text-center" style="color:#337ab7;margin-top:0">
                                            <a href="/#">
                                                Rencana
                                            </a>
                                        </h4>
                                    </div>
                                </div>
                            </div>
                            <div class="holder">
                                <div class="panel-heading" style="color:#337ab7">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#4">
                                            🔵 <b style="font-size:14px">Bootcamp</b>
                                            <span class="navbar-right glyphicon glyphicon-chevron-down" style="padding-right:4px"></span>
                                        </a>
                                    </h4>
                                </div>
                                <div id="4" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <h4 class="panel-title text-center" style="color:#337ab7">
                                            <a href="/#">
                                                Rencana
                                            </a>
                                        </h4>
                                    </div>
                                </div>
                            </div>
                            <div class="holder">
                                <div class="panel-heading" style="color:#337ab7">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#5">
                                            🔵 <b style="font-size:14px">Laporan</b>
                                            <span class="navbar-right glyphicon glyphicon-chevron-down" style="padding-right:4px"></span>
                                        </a>
                                    </h4>
                                </div>
                                <div id="5" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <h4 class="panel-title text-center" style="color:#337ab7">
                                            <a href="/#">
                                                Rencana
                                            </a>
                                        </h4>
                                    </div>
                                </div>
                            </div>
                            <div class="holder">
                                <div class="panel-heading" style="color:#337ab7">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#6">
                                            🔵 <b style="font-size:14px">Time Report</b>
                                            <span class="navbar-right glyphicon glyphicon-chevron-down" style="padding-right:4px"></span>
                                        </a>
                                    </h4>
                                </div>
                                <div id="6" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <h4 class="panel-title text-center" style="color:#337ab7">
                                            <a href="#" id="btn-subm">
                                                TimeSheet Submission
                                            </a>
                                        </h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-8" style="background-color:white;">
                    <div class="place-list"></div>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <div><b><font style="color:#337ab7">@DateTime.Now.Year - Xsis Mitra Utama</font></b></div>
    </footer>
</body>
</html>


    <script type="text/javascript">
    $("#btn-subm").click(function () {
             $.ajax({
                url: '@Url.Action("List", "TimesheetSubmission")',
                type: 'get',
                success: function (result) {
                    $(".place-list").html(result);
                }
             });
    });

                function GetList() {
                $.ajax({
                url: '@Url.Action("List", "TimesheetSubmission")',
                type: 'get',
                success: function (result) {
                $(".place-list").html(result);
                }
         });
        }

    </script>