﻿@model IEnumerable<ViewModel.TimesheetViewModal>

@{
    Layout = null;
}

<style>
    table {
        font-family: Aria
            l, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        text-align: left;
        padding: 15px;
    }

    td {
        text-align: left;
        padding: 15px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }
</style>

<div class="col-12">
    <table class="table">
        <tr>
            <th>
                STATUS
            </th>
            <th>
                TANGGAL
            </th>
            <th>
                CLIENT
            </th>
            <th>
                NAMA PEGAWAI
            </th>
        </tr>

        @foreach (var item in Model)
        {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.status)
        </td>
        <td>
            @item.timesheet_date.ToString("MMMM dd, yyyy")
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.namaPG)
        </td>
    </tr>
        }

    </table>

    <div class="row" style="margin-top:8px; margin-bottom:8px; margin-right:5px;" id="id-hide-me">
        <div class="col-3"></div>
        <div class="col-md-offset-8 col-3">
            <div class="btn-group">
                <button type="button" id="btn-reset" style="background-color:orangered; width:140px" data-dismiss="modal"><a style="color:white; font-weight:bold">Reset</a></button>
                <button type="submit" id="btn-send" style="background-color:#337ab7; width:140px"><a style="color:white; font-weight:bold">Submit</a></button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalEmail" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-primary header-modal-sm">
                <h4 class="modal-title">Modal title</h4>
            </div>
            <div class="modal-body modal-create">
                <p>One fine body&hellip;</p>
            </div>
        </div>
    </div>
</div>

<script>
    $("#btn-reset").click(function () {
        GetList();
    })



    $("#btn-send").click(function () {
        var y = $('#tsaYear').val();
        var m = $('#tsaMonth').val();
        var idSend  = @Html.Raw(Json.Encode(@ViewBag.idSend));
        var idPekerja  = @Html.Raw(Json.Encode(@ViewBag.idClient));
        if (y == null || y == "") {
            $("#tsaYear").after("<p>Please select Year</p>")
        } else if (m == null || m == "") {
            $("#tsaMonth").after("<p>Please select Month</p>")
        } else {
            $.ajax({
                url: '/TimesheetSubmission/EmailCC',
                method: 'post',
                data: { id: idSend, idClient: idPekerja, year: y, month: m },
                success: function (response) {
                    $(".header-modal-sm").css("background-color", "#337ab7");
                    $(".modal-title").html("Tambah Email Penerima");
                    $(".modal-create").html(response);
                    $("#modalEmail").modal("show");
                    //alert("Berhasil");
                    //window.location.reload();
                }
            })
        }
    })

</script>